<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.ulpgc.maikath101.kevin.homefindergc">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".app.AppMediator"
        android:theme="@style/AppTheme"
        android:roundIcon="@mipmap/icono_app_azul_round">


        <activity android:name=".adminMode.removeHouse.RemoveHouseActivity"
            android:label=""></activity>
        <activity android:name=".adminMode.addHouse.AddHouseActivity"></activity>
        <activity android:name=".adminMode.selection.SelectionActivity"></activity>


        <activity android:name=".customerMode.homeDetails.HomeDetailsActivity"></activity>
        <activity android:name=".customerMode.aboutUsScreen.AboutUsActivity"></activity>
        <activity android:name=".customerMode.contactScreen.ContactActivity"></activity>

        <activity android:name=".adminMode.login.LoginActivity"
            android:label="LoginScreen"
            android:icon="@drawable/icono_app_blanco"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".customerMode.startScreen.StartActivity"
            android:label="StartScreen"
            android:icon="@drawable/icono_app_azul">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>



</manifest>